<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <h1 class="mb-3 text-uppercase fw-bold text-center">Akong-Lumeng Family Reunion 2025</h1>
    <div class="card my-2">
      <%= image_tag "quiz_show.jpg"%>
    </div>
  </div>
  <div class="col-1"></div>
</div>