<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Questions</h1>
  <%= link_to "Add Question", new_admin_question_path, class: "btn btn-primary" %>
</div>

<div class="my-4">
  <%= render "list", question: @questions %>
</div>